main{
    display: flex;

    section{
        height: 100vh;

        header {
            height: 50px;
            background: rgba(50, 50, 50, .3);
            color: white;
        }

        &.sidebar{
            flex: 0 0 250px;
        }
        &.commands{
            flex-basis: 40%;
            background: lightgrey;
        }
        &.description{
            flex-basis: 55%;
        }
    }
}