<article class="animations">
  <ul class="animation-list">

    <li class="animation of">
      <h2>of(1, 3, 10, 'a', 'v', [], {})</h2>
      <div class="timeline">
        <p>1</p>
        <p>3</p>
        <p>10</p>
        <p>'a'</p>
        <p>'v'</p>
        <p>[]</p>
        <p>{}</p>
      </div>

      <div class="console">
        <p>1</p>
        <p>3</p>
        <p>10</p>
        <p>'a'</p>
        <p>'v'</p>
        <p>[]</p>
        <p>{}</p>
      </div>
    </li>

  </ul>
</article>