<nav id="menu sidebar-menu">

  <ul class="menu-list creation">
    <li><a href="creation">Creation</a></li>
    <li><a href="of">of</a></li>
    <li><a href="from">from</a></li>
    <li><a href="empty">empty</a></li>
    <li><a href="range">range</a></li>
    <li><a href="interval">interval</a></li>
    <li><a href="generate">generate</a></li>
    <li><a href="timer">timer</a></li>
    <li><a href="fromEvent">fromEvent</a></li>
    <li><a href="create">create</a></li>
    <li><a href="defer">defer</a></li>
    <li><a href="ajax">ajax</a></li>
    <li><a href="throw">throw</a></li>
  </ul>

  <ul class="menu-list utility">
    <li><a href="tapdo">tap / do</a></li>
    <li><a href="delay">delay</a></li>
    <li><a href="delayWhen">delayWhen</a></li>
    <li><a href="dematerialize">dematerialize</a></li>
    <li><a href="finalize / finally">finalize / finally</a></li>
    <li><a href="let">let</a></li>
    <li><a href="repeat">repeat</a></li>
    <li><a href="timeInterval">timeInterval</a></li>
    <li><a href="timeout">timeout</a></li>
    <li><a href="timeoutWith">timeoutWith</a></li>
    <li><a href="toPromise">toPromise</a></li>
  </ul>

</nav>