<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--<link rel="icon" type="image/png" href="../images/png/favicon16.png" sizes="16x16">-->
    <!--<link rel="icon" type="image/png" href="../images/png/favicon32.png" sizes="32x32">-->
    <!--<link rel="icon" type="image/png" href="../images/png/favicon64.png" sizes="64x64">-->
    <link rel="stylesheet" href="../css/style.css"/>
    <title>Bigdrop Kit</title>
</head>